<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Contact-Us</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../assets/css/style.css" rel="stylesheet"/>
<link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"  />
<link rel="stylesheet" href="../portfolio/layout.css">
<link rel="stylesheet" href="../owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="../owlcarousel/owl.theme.default.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
<div class="top_ribbon">
  <div class="container">
    <div class="row">
      <div class="col-md-8"> </div>
      <div class="col-md-4">
        <div class="social-link ">
          <ul>
            <li><i class="fa fa-phone "> </i>+1984765788847</li>
            <li><i class="fa fa-envelope-o "></i>Info@support.com </li>
          </ul>
        </div>
      </div>
    </div>
    <!--row--> 
  </div>
</div>
<div class="container-fluid">
  <div class="bar">
    <div class="container position-relative">
      <nav class="navbar navbar-expand-lg navbar-light  nav-pos "><a class="navbar-brand zook" href="index.html">Company Name</a>
        <button  id="tooggler" onclick="openNav()"  class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" ><i class="fa fa-bars" id="barset" style="color: #edf2f3;"></i></button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto zook3 ">
            <li class="nav-item  "> <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a> </li>
            <li class="nav-item  act "> <a class="nav-link" href="#">Services</a> </li>
            <li class="nav-item act "> <a class="nav-link" href="project.html">Project</a> </li>
            <li class="nav-item act "> <a class="nav-link" href="#">Pages</a> </li>
            <li class="nav-item act "> <a class="nav-link" href="#">Shop</a> </li>
            <li class="nav-item act "> <a class="nav-link" href="blog.html">Blog</a> </li>
            <li class="nav-item "> <a class="nav-link  " href="about-us.html">About us</a></li>
            <li class="nav-item active act jos"> <a class="nav-link" href="contact.html">Contact us</a> </li>
          </ul>
        </div>
      </nav>
      <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="index.html"><i class="fa fa-home terre"></i> Home</a>
  <a href="project.html"> <i class="fa fa-server terre"></i>Projects</a>
  <a href="blog.html"> <i class="fa fa-dribbble terre"></i> Blog</a>
  <a href="about-us.html"><i class="fa fa-user terre"></i>About-Us</a>
  <a href="contact.html"><i class="fa fa-phone terre"></i>Contact-us</a>
</div>

    </div>
  </div>
</div>
<div class="carousel-item active"> <img src="../assets/img/hp4 (1).jpg" class="d-block w-100" alt="...">
  <div class="carousel-caption d-none d-md-block">
    <div class="pak">
      <h5 class="pak1">Contact</h5>
      <h5 class="pak2">Home/
        <sap>contact</sap>
      </h5>
    </div>
  </div>
</div>


<div class="clearfix"></div>

<div class="fas">

<div class="container">

<div class="row">



<div class="col-md-8">
<p class="fas1"> Get In Touch</p>
<p class="fas2"></p>

<div class="row">
<div class="col-md-6">
<form>
  
    
      <input type="text" class="fas3" placeholder="Your name">
       <input type="email" class="fas3"  id="exampleFormControlInput1" placeholder="Email">

      <input type="text" class="fas3" placeholder="subject">
   
</form>

</div>

<div class="col-md-6">
<form>
<div class="form-group">
    
    <textarea class="fas4" id="exampleFormControlTextarea1" placeholder="Message"></textarea>
  </div>
</form>
</div>

<div class="tet">
<button class="but1"> SEND MESSAGE</button>
</div>

</div>

</div>









<div class="col-md-4">

<p class="fas1"> Contact Info</p>
<p class="fos"></p>


<div class="container">
<div class="map1">

<div class="row">
<div class="col-2">
<p class="tit1"><i class="fa fa-map-marker"></i>  </p>

</div>


<div class="col-10">
<p class="tit2">234, Street Bangalore JP nagar   </p>

<p class="tit3">Whashington USA Dobibad </p>


</div>

<p class="tit4"></p>

</div>




<div class="row">
<div class="col-2">
<p class="tit1"><i class="fa fa-phone"></i>  </p>

</div>


<div class="col-10">
<p class="tit2">299 345 900 234   </p>

<p class="tit3">299 345 900 234  </p>


</div>

<p class="tit4"></p>

</div>







<div class="row">
<div class="col-2">
<p class="tit1"><i class="fa fa-envelope-o"></i> </p>

</div>


<div class="col-10">
<p class="tit2">pallavi@xlminds.com  </p>

<p class="tit3">http://xlminds.com </p>


</div>

<p class="tit4"></p>


 <p class="tit5">
          <dam><i class="fa fa-facebook"></i></dam>
          <dam1><i class="fa fa-dribbble"></i></dam1>
           <dam3><i class="fa fa-facebook"></i></dam3>
          <dam2><i class="fa fa-twitter"></i></dam2>
        <dam5><i class="fa fa-pinterest-p"></i></dam5>
          <dam4><i class="fa fa-google-plus"></i> </dam4>
        </p>

</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="map">



<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31109.31827493314!2d77.56964532756376!3d12.929253544364753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15986765d7d9%3A0xbba2fea7014e5087!2sJayanagar%2C%20Bengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1612935463822!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


</div>

<div class="clearfix"></div>


<div class="start">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="sot1"> <span>Up </span> <i class="fa fa-chevron-down"></i>Convert</p>
        <p class="sat2">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="sat3">
          <dad><i class="fa fa-facebook"></i></dad>
          <dad1><i class="fa fa-dribbble"></i></dad1>
          <dad2><i class="fa fa-twitter"></i></dad2>
          <dad3><i class="fa fa-vine"></i></dad3>
          <dad4><i class="fa fa-linkedin"></i> </dad4>
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <p class="sat1">INFORMATION</p>
        <p class="das1"> About us</p>
        <p class="das1">Services</p>
        <p class="das1"> Project</p>
        <p class="das1"> Blog</p>
        <p class="das1"> Contact us</p>
      </div>
      <div class="col-md-3">
        <p class="sat1">LATEST NEWS</p>
        <p class="das2"> How can be successfull</br>
          in marcket place..</p>
        <p class="das2">13, June,2018/Business </p>
        <p class="das3"> How can be successfull </br>
          in marcket place..</p>
        <p class="dos3">13, June,2018/Business </p>
      </div>
      <div class="col-md-3">
        <p class="sat1">SUBSRCIBE US</p>
        <p class="das4">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <input type="text" class="das5" placeholder="Enter mail " />
      </div>
    </div>
  </div>
</div>
<div class="footer">
        <p class="nro7"> www.com Test@ All Rights know</p>
</div>





<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" ></script> 
<script src="../bootstrap/js/bootstrap.min.js" ></script> 
<script src="../owlcarousel/owl.carousel.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script> 
<script src="../counter/jquery.counterup.min.js"></script> 
<script src="../assets/js/mixitup.min.js"></script> 
<script>
            jQuery(document).ready(function() {
              //var owl = $('#empCarousel');
              $('#empCarousel').owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                  0: {
                    items: 1
                  },
                  600: {
                    items: 1
                  },
                  1000: {
                    items: 1
                  }
                }
              })
            })
          </script> 
<script>
  $(document).ready(function(){
	  $('.counter').counterUp({
            delay: 10,
            time: 1000
        });
		
		var filterList = {
		
			init: function () {
			
				// MixItUp plugin
				// http://mixitup.io
				$('#portfoliolist').mixItUp({
  				selectors: {
    			  target: '.portfolio',
    			  filter: '.filter'	
    		  },
    		  load: {
      		  filter: '.app'  
      		}     
				});								
			
			}

		};
		
		// Run the show!
		filterList.init();
	  });
  
    //jQuery(document).ready(function( $ ) {
		//(function( $ ) {
        
    //});
  </script>
    <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("tooggler").style.display = "none";

}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("tooggler").style.display = "block";
}
</script>
</body>
</html>
